/* ESERCIZIO 1 */

.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition-duration: 2s;
}

/* ESERCIZIO 2 */

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition-duration: 2s;
}

/* ESERCIZIO 3 */

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-3-square{
    transition-duration: 1s;
}

/* ESERCIZIO 4 */

.ex-4-square:hover{
    opacity: 0%;
}

.ex-4-square{
    transition-duration: 1s;
}

/* ESERCIZIO 5 */

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-5-square{
    transition-duration: 1s;
}

/* ESERCIZIO 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img:hover{
    filter: grayscale(0.5);
    filter: sepia(60%);
}

.ex-7-img{
    transition-duration: 2s;
}

/* ESERCIZIO 8 */

.ex-8-img:hover{
    filter: grayscale(0.5) sepia(60%);
    border-radius: 20px;
}

.ex-8-img{
    transition-duration: 2s;
}