/* ESERCIZIO 1 */

.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition-duration: 2s;
}

/* ESERCIZIO 2 */

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition-duration: 2s;
}

/* ESERCIZIO 3 */

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-3-square{
    transition-duration: 1s;
}